*{margin: 0;}

.header {
    background-color: #3fbcc4;
    /*background: #57a958;*/
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor {
    height: 400px;
   }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 32px;
    padding: 10px 20px;
    background-color: #3fbcc4;
    border: none;

}
.btn:hover{
    background-color: #3fbcc4;
    outline-offset: 2px;
    outline-color: #3fbcc4;
}

.output, .shell-output, .tests-output {
    padding: 10px;
    border: 2px solid gray;
    min-height: 100px;
    width: 99%;
    resize: none;
    background-color: #141414;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

/* Контейнер для разделения экрана */
.split-screen-container {
    display: flex;
    flex-wrap: wrap;

}

/* Контейнер с теорией */
.theory-container {
    flex: 1;
    padding: 20px;
    background-color: #f4f6fa;
    max-height: 400px;
    overflow-y: auto;
}

/* Контейнер с редактором кода */
.editor-container {
    flex: 1;
    padding: 20px;
    background-color: #f4f6fa;
}

/* Необязательные стили для самого редактора кода */
.editor {
    height: 500px;
    /* Добавьте дополнительные стили для редактора здесь */
}
